/* full width background-image */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Didact Gothic', sans-serif !important;
  }
  
.bg {
    /* The image used */
    background-image: url("home.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */
.container-fluid {
    padding: 1% 3% !important;
}

.navbar-collapse li {
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Container */
.container {
    padding: 15% 8% 0 !important;
    color: #fff;
}

.info-col {
    width: 250px !important;
    margin-left: 7rem;
}

.info {
    opacity: 0.7;
}

.heading {
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 1px 1px black;
    letter-spacing: 5px ;
}

.little-heading {
    font-weight: bold;
    text-shadow: 1px 1px black;
    margin-bottom: 0;
    letter-spacing: 5px;
    opacity: 0.5;
    padding-left: 15px;
}

/* Bottom container */
.bottom-container {
    margin-top: 7rem !important;
}

.bot-p {
    font-weight: bold;
    display: inline;
    color:#fff;
    opacity: 0.7;
    padding-right: 2.5rem;
    font-size: 1.15rem;
}


/* Lines container */
.lines-container {
    margin-top: 0;
    padding: 0 15%;
    margin: 0 !important;
}

.lines {
    display: inline-block;
    height: 0.3rem;
    background-color: #fff;
    opacity: 0.4;
}

.active-line {
    opacity: 0.8;
}

.first-line {
    width: 24rem;
}

.middle-line {
    width: 21rem;
}

.last-line {
    width: 20rem;
}

.arrow-col {
    margin-top: 1rem !important;
    text-align: center;
}

.arrows {
    padding-left: 40px;
    color: #fff;
}

.arrows:hover {
    width: 8%;
    cursor: pointer;
}

/* Media query */
@media screen and (max-width: 1400px) {
    .container {
        padding: 5% 3% 0 !important;
        color: #fff;
    }

    .info-col {
        margin-left:0
    }

    .lines-div {
        display: none;
    }

    .bot-p{
        display: block;
    }

    .arrows {
        display: none;
    }
  }